# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.Sky Shooter.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Development\Projects\Unity\Sky Shooter\.idea\.idea.Sky Shooter\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
